@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    color: rgb(134, 0, 0);
    background: rgb(16, 16, 16);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    border-bottom: solid white 2px;
    padding: 20px;
    font-size: 32px;
    font-weight: 800;
    color: rgb(220, 5, 5);
}

section{
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.card{
    background: rgb(16, 16, 16);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.titulo{
    margin-right: 5%;
}

.titulo h1{
    font-size: 40px;
 color: rgb(230, 230, 230);
}
.titulo p{
    font-size: 25px;
font-weight: 500;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}

  .categoria-videos{
    display: flex;
    gap: 10px;
    overflow-x: auto;
  }

  .categoria-videos img{
    width: 300px;
    height: 200px;
    opacity: 0.5;
  }

  .categoria-videos img:hover {
    opacity: 1.0;
}

.categoria h2{
    color: rgb(220,5,5);
}